page-home {
  header {
    button.btn {
      height: 5rem;
      width: 5rem;
      padding: 5px;
      margin-top: 20px;
    }
  }

  .homeContent {
    background-color: color($colors, secondary);
  }
}
