page-home {
  header {
    button.btn {
      height: 5rem;
      width: 5rem;
      padding: 5px;
      margin-top: 20px;
    }

    button#metronome-toggle-btn {
      background-color: transparent;
      span.metronome {
        background-image: url("../assets/imgs/metronome-primary.svg");
        background-repeat: no-repeat;
        height: 4rem;
        width: 4rem;
        display: block;
        margin: auto;
      }
    }
    button#metronome-toggle-btn.active {
      background-color: color($colors, primary);
      span.metronome {
        background-image: url("../assets/imgs/metronome-secondary.svg");
        background-repeat: no-repeat;
        height: 4rem;
        width: 4rem;
        display: block;
        margin: auto;
      }
    }

    button#set-bpm-btn {
      background-color: transparent;
      width: 7rem;
      span.bpm-text {
        font-size: 3rem;
        color: color($colors, primary);
      }
    }
    button#set-bpm-btn.active {
      width: 7rem;
      background-color: color($colors, primary);
      span.bpm-text {
        font-size: 3rem;
        color: color($colors, secondary);
      }
    }

    button#export-btn {
      background-color: transparent;
      span.export-menu {
        background-image: url("../assets/imgs/file-export-primary.svg");
        background-repeat: no-repeat;
        height: 4rem;
        width: 4rem;
        display: block;
        margin: auto;
      }
    }
    button#export-btn.active {
      background-color: color($colors, primary);
      span.export-menu {
        background-image: url("../assets/imgs/file-export-secondary.svg");
        background-repeat: no-repeat;
        height: 4rem;
        width: 4rem;
        display: block;
        margin: auto;
      }
    }
  }

  .homeContent {
    background-color: color($colors, secondary);

    .btn {
      background-color: color($colors, primary);
      color: color($colors, secondary);
      font-size: 1rem;
    }

    ion-row {
      margin: 0;
      padding: 0;
    }

    ion-col {
      .card-panel {
        margin: 0;
        padding: 5px;
      }
      .card-panel.active {
        background-color: color($colors, primary);
        .btn {
          background-color: color($colors, secondary);
          color: color($colors, primary);
          font-size: 2.5rem;
          width: 5.5rem;
        }
        #delete-btn {
          background-color: transparent;
          color: color($colors, secondary);
          font-size: 2rem;
        }
      }
    }
  }
  button.btn-floating {
    i.material-icons {
      color: color($colors, primary);
      font-size: 4rem;
    }
    i.material-icons.disabled {
      color: color($colors, btnDisabled);
      font-size: 4rem;
    }
  }
}
