onboarding {
  .ion-content {
    background-color: color($colors, secondary);
    font-family: "Raleway";
  }

  // $colors: ();

  button.btn-floating {
    height: 7rem;
    width: 7rem;
    background-color: color($colors, primary);
  }
  button.btn-floating.disabled {
    height: 7rem;
    width: 7rem;
    background-color: color($colors, btnDisabled) !important;
  }

  #export-icon {
    color: #00bb88;
  }

  .onboard-image {
    width: 80vw;
    height: auto;
  }

  .file-export {
    height: 8rem;
    width: 8rem;
    margin: auto;
    display: block;
  }

  span.add-track-icon {
    background: url("../assets/imgs/add-track.svg");
    height: 5rem;
    width: 5rem;
    margin: auto;
    display: block;
  }

  span.logo {
    background-image: url("../../../resources/splash.png");
    background-repeat: no-repeat;
    height: 8rem;
    width: 8rem;
    display: block;
    margin: auto;
  }

  span.metronome {
    background-image: url("../../assets/imgs/metronome-primary.svg");
    background-repeat: no-repeat;
    height: 8rem;
    width: 8rem;
    display: block;
    margin: auto;
  }

  .swiper-pagination-bullet {
    border: 4px solid white;
  }

  .pt-40 {
    padding-top: 40vh;
  }

  .pt-30 {
    padding-top: 30vh;
  }

  .text-white {
    color: white;
  }

  .diag {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 66%;
  }

  ion-icon {
    margin-top: 40%;
    font-size: 7em;
  }

  h1 {
    margin-top: 50% !important;
    font-weight: bold;
    font-size: 2em;
  }

  h2 {
    margin-top: 80% !important;
    font-weight: bold;
    font-size: 1em;
  }

  p {
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }

  .swiper-pagination-bullet-active {
    background: #c400ff;
  }

  .swiper-pagination {
    bottom: 12% !important;
  }

  #skip {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background: none !important;
    text-align: center;
    cursor: pointer;
    z-index: 5;
  }
}
