metronome {
  .btn {
    span.metronome {
      background-image: url("../assets/imgs/metronome-primary.svg");
      background-color: transparent;
      background-repeat: no-repeat;
      height: 4rem;
      width: 4rem;
      display: block;
      margin: auto;
    }
    span.metronome.active {
      background-color: color($colors, primary);
      background-image: url("../assets/imgs/metronome-secondary.svg");
      background-repeat: no-repeat;
    }
  }
}
