<ng-container *ngIf="stateManager.state == 'RECORDING'; else elseTemplate">
  <button class="btn btn-flat waves-effect waves-light disabled">
    <span class="bpm-text">{{ stateManager.bpmObject.avg }}</span>
  </button>
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="stateManager.state == 'BPM'; else elseTemplate">
    <button
      (click)="onClick()"
      class="btn btn-flat waves-effect waves-light active"
    >
      <span class="bpm-text">{{ stateManager.bpmObject.avg }}</span>
    </button>
  </ng-container>
  <ng-template #elseTemplate>
    <button (click)="onClick()" class="btn btn-flat waves-effect waves-light">
      <span class="bpm-text">{{ stateManager.bpmObject.avg }}</span>
    </button>
  </ng-template>
</ng-template>
