recording {
  button.btn-floating {
    height: 7rem;
    width: 7rem;
    background-color: color($colors, primary);
    i.material-icons {
      color: color($colors, secondary);
      vertical-align: -webkit-baseline-middle;
      font-size: 5rem;
    }
  }
}
