<!-- Generated template for the SetBpmViewComponent component -->
<ion-grid>
  <ion-row text-center>
    <ion-col col-12 align-self-center>
      <button
        (click)="onTap()"
        id="tap-btn"
        class="btn btn-flat waves-effect waves-light"
      >
        <span>TAP</span>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      <button
        (click)="onDecreaseBPM()"
        class="btn btn-flat waves-effect waves-light"
      >
        <i class="fas fa-minus-square"></i>
      </button>
    </ion-col>
    <ion-col col-6 push-1 align-self-center>
      <form>
        <input
          type="number"
          value="{{ stateManager.bpmObject.bpm }}"
          (change)="onTypeIn($event)"
        />
      </form>
    </ion-col>
    <ion-col col-2 push-1 align-self-center>
      <button
        (click)="onIncreaseBPM()"
        class="btn btn-flat waves-effect waves-light"
      >
        <i class="fas fa-plus-square"></i>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
